package views

templ Header() {
	<header class="flex items-center bg-base-950 py-2 px-6 sm:px-8 mb-8">
		<nav
			hx-boost="true"
			hx-swap="innerHTML show:none"
			class="max-w-4xl mx-auto w-full flex items-center"
		>
			<div class="ml-auto flex items-center gap-2">
				<a href="/" class="p-2 font-medium">home</a>
				<a href="/projects" class="p-2 font-medium">projects</a>
				<a href="/posts" class="p-2 font-medium">posts</a>
			</div>
		</nav>
	</header>
}
