package views

import (
	"context"
	"fmt"
	"github.com/lionpuro/lionpuro.com/blog"
	"io"
)

templ Post(post *blog.Post) {
	<div class="flex flex-col leading-7">
		<span class="text-sm text-base-400 font-medium mb-1">{ dateString(post.Date) }</span>
		<div class="blog-post flex flex-col">
			@unsafe(post.Content)
		</div>
		if len(post.Tags) > 0 {
			<div class="mt-4 flex gap-3">
				<span class="text-base-400 text-sm font-medium">Tags:</span>
				for _, tag := range post.Tags {
					<a
						href={ templ.URL(fmt.Sprintf("/posts?tag=%s", tag)) }
						hx-boost="true"
						hx-swap="innerHTML show:none"
						hx-push-url="/posts"
						class="text-primary-400 text-sm font-medium before:content-['#'] before:mr-0.25"
					>
						{ tag }
					</a>
				}
			</div>
		}
		<a
			href="/posts"
			hx-boost="true"
			hx-swap="innerHTML show:none"
			class="whitespace-pre flex text-primary-400 font-medium items-center mt-6 hover:underline before:content-['←'] before:font-bold"
		>
			{ " Back to posts" }
		</a>
	</div>
}

func unsafe(html string) templ.Component {
	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
		_, err := io.WriteString(w, html)
		return err
	})
}
